@import '@/styles/_mix.scss';

.card {
  border: 1px solid var(--DARK-GRAY-1);
  width: 25%;
  height: auto;
  padding: 1.5rem;
  background-color: var(--BASE-CREAM-1);
  overflow: hidden;

  .title {
    margin-bottom: 1rem;
    color: var(--BASE-BLUE-1);
  }

  .non-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  .main-text {
    font-size: 1.75rem;
    color: var(--DARK-GRAY-1);
  }

  .sub-text {
    color: var(--DARK-GRAY-5);
    font-size: 1rem;
  }
}

@include mobile {
  .card {
    width: 100%;
    padding: 0.7rem;

    .non-title {
      .main-text {
        font-size: 1.25rem;
      }

      .sub-text {
        font-size: 0.95rem;
      }
    }
  }
}

@include tablet {
  .card {
    width: 100%;
    padding: 1.2rem;

    .non-title {
      .main-text {
        font-size: 1.25rem;
      }

      .sub-text {
        font-size: 0.95rem;
      }
    }
  }
}
