.input-wrapper {
    margin: 1rem;
  
    .label {
      display: block;
      margin-bottom: 0.5rem;
      font-weight: bold;
      font-family: var(--FONT-DM-MONO-REGULAR);
    }
  
    .input-container {
      position: relative;
      display: flex;
      align-items: center;
      width: 18rem;
  
      .text-input {
        width: 100%;
        padding: 1rem;
        border: 2px solid var(black);
        font-family: var(--FONT-DM-MONO-REGULAR);
        font-size: smaller;
  
        &:disabled {
          background-color: var(--LIGHT);
          cursor: not-allowed;
        }
      }
  
      .icon {
        position: absolute;
        right: 0.5rem;
        font-size: 1.25rem;
      }

      .input-children{
        margin-left: 0.5rem;
        display: flex;
        align-items: center;
      }
  
    }
  
    .helper-text {
      margin-top: 0.5rem;
      font-size: 0.875rem;
      text-align: end;
      font-family: var(--FONT-DM-MONO-REGULAR);
    }
  
    // Shapes
    &.default .text-input {
      border-radius: 0px;
    }
  
    &.pill .text-input {
      border-radius: 50px;
    }
  
    // State
    &.default .text-input {
      box-shadow: 4px 4px 0 rgba(0, 0, 0, 1);
    }
  
    &.error .text-input {
      border: 2px solid var(red);
      color: var(red);
      box-shadow: none;
    }
  
    &.success .text-input {
      background-color: var(--BASE-CREAM-2);
      box-shadow: 4px 4px 0 rgba(0, 0, 0, 1);
    }

  }
