
.input-wrapper {
    margin: 1rem;
  
    .label {
      display: block;
      margin-bottom: 0.5rem;
      font-weight: regular;
      font-family: var(--FONT-DM-MONO-REGULAR);
    }
  
    .input-container {
      position: relative;
      display: flex;
      align-items: center;
      width: 18rem;
  
      .text-input {
        width: 100%;
        padding: 1rem;
        border: 1px solid black;
        font-family: var(--FONT-DM-MONO-REGULAR);
        font-size: smaller;
        outline: none;
  
        &:disabled {
          background-color: var(--LIGHT);
          cursor: not-allowed;
        }
      }
  
      .icon {
        position: absolute;
        top: 55%;
        right: 0%;
        transform: translate(-10px, -50%);
      }

      .input-children{
        margin-left: 0.5rem;
        display: flex;
        align-items: center;
      }
  
    }
  
    .helper-text {
      margin-top: 0.5rem;
      font-size: 0.875rem;
      text-align: end;
      font-family: var(--FONT-DM-MONO-REGULAR);
    }
  
    // Shapes
    &.default .text-input {
      border-radius: 0px;
    }
  
    &.pill .text-input {
      border-radius: 50px;
    }
  
    // State
    &.default .text-input {
      box-shadow: 3px 3px 0 rgba(0, 0, 0, 1);
    }
  
    &.error {
      .text-input {
      border: 1px solid var(--BASE-RED-1);
      color: var(--BASE-RED-1);
      box-shadow: none;
      }
      .helper-text {
        text-align: start;
        padding-left: 0.5rem;
        position: relative;
        padding-left: 16px;
        color: var(--BASE-RED-1);
      }

      .helper-text::before{
        content: "";
        display: inline-block;
        width: 13px;
        height: 13px;
        background-image: url('/images/exclamationPoint_icon.svg');
        background-size: contain;
        background-repeat: no-repeat;
        position: absolute;
        left: 0;
        top: 0%;

      }
    }
  
    &.success .text-input {
      background-color: var(--BASE-CREAM-2);
      box-shadow: 3px 3px 0 rgba(0, 0, 0, 1);
    }

  }
