
.calendar-dropdown-container{
    display: flex;
    align-items: center;
    justify-items: center;
    position: relative;
}

.calendar-label{
    display: flex;
    align-items: center;
    justify-items: center;
    border: 1px solid var(--DARK-GRAY-1);
    border-radius: 5px;
    padding: 1rem;
    gap: 1rem;
    background-color: var(--LIGHT);

    .date-range-label{
        font-size: 1.25rem;
    }

    .dropdown-button{
        display: flex;
        align-items: center;
        justify-items: center;
    }
}

.dropdown-content{
    position: absolute;
    top: 100%;
    font-family: var(--FONT-DM-MONO-REGULAR);
}