.logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo-extra-small {
  width: 3.4rem;
  height: 1.1rem;
}

.logo-small {
  width: 6.2rem;
  height: 2.2rem;
}

.logo-medium {
  width: 10.4rem;
  height: 3.8rem;
}

.logo-large {
  width: 14.8rem;
  height: 4.8rem;
}

.logo-extra-large {
  width: 18.8rem;
  height: 6.2rem;
}
