@import '@/styles/_mix.scss';

.modal-inner {
  min-width: 60%;
  overflow-y: scroll;
  background-color: var(--LIGHT-CREAM-1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 3rem 1.5rem;
  border-radius: 1rem;
  border: 3px solid var(--DARK);
  box-shadow: 5px 4px var(--DARK);

  .modal-title {
    font-size: 2.6rem;
    font-family: var(--FONT-DM-MONO-BOLD);
  }

  .modal-text-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
    gap: 0.8rem;
  }

  .table-wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem;
    margin-top: 2.4rem;

    .header-inner-left {
      flex: 8;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      gap: 1.2rem;
    }

    .header-inner-right {
      flex: 3.7;
      display: flex;
      align-items: center;
      justify-content: flex-start;

      .text-wrapper {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        flex: 1;
      }
    }
  }

  .table-body {
    width: 100%;
    padding: 0 2rem;
    margin-top: 1.2rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

    .list-container {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;

      .list-item {
        width: 100%;
        height: 4rem;
        display: flex;
        align-items: center;
        justify-content: flex-start;

        .option-text {
          flex: 1.8;
          height: 1.8rem;
          display: flex;
          align-items: center;
          justify-content: flex-start;
          margin-left: 2rem;
        }

        .block-wrapper {
          flex: 4;
          padding: 0 4rem 0 1rem;
          display: flex;
          align-items: center;
          justify-content: flex-start;
        }

        .text-wrapper {
          flex: 1.1;
          display: flex;
          align-items: center;
          justify-content: flex-end;
        }
      }
    }
  }

  .button-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3.4rem;
    gap: 1.2rem;
  }
}

@include mobile {
  .modal-inner {
    width: 90%;
    overflow-y: auto;
    height: 60%;
    padding: 1rem 0.5rem;

    .modal-title {
      font-size: 1.6rem;
    }

    .modal-text-container {
      margin-top: 0.8rem;
    }

    .table-body {
      margin-top: 0.2rem;
      width: 100%;
      padding: 0 1rem;

      .list-container {
        .list-item {
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: space-between;

          .option-text {
            white-space: nowrap;
            margin-left: 1rem;
          }

          .block-wrapper {
            padding: 0rem;
            flex: 3;
          }
        }
      }
    }

    .table-wrapper {
      margin-top: 1.2rem;
      .header-inner-left {
      }

      .header-inner-right {
        flex: 4;
        gap: 1.8rem;
      }
    }

    .button-container {
      margin-top: 1.2rem;
      display: flex;
      align-items: center;
      justify-content: flex-end;
    }
  }
}

@include tablet {
  .modal-inner {
    width: 90%;
    overflow-y: auto;
    height: 58%;
    padding: 1rem 0.5rem;

    .modal-title {
      font-size: 1.6rem;
    }

    .modal-text-container {
      margin-top: 0.8rem;
    }

    .table-body {
      margin-top: 2.2rem;
      width: 100%;
      padding: 0 1rem;

      .list-container {
        .list-item {
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: space-between;

          .option-text {
            white-space: nowrap;
            margin-left: 1rem;
          }

          .block-wrapper {
            padding: 0rem;
            flex: 3;
          }
        }
      }
    }

    .table-wrapper {
      margin-top: 2.2rem;
      padding: 0 1rem;

      .header-inner-right {
        flex: 4;
        gap: 1.8rem;
      }
    }

    .button-container {
      margin-top: 1.2rem;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
