.single-container {
  width: 60%;
  height: 100%;
}

.double-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  gap: 5rem;

  .option-container {
    width: 50%;
    height: 100%;
    aspect-ratio: 1/1;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .selected-left {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    animation-name: scaleInLeft;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    animation-timing-function: ease;
  }

  .selected-right {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    animation-name: scaleInRight;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    animation-timing-function: ease;
  }

  .unselected-left {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    animation-name: scaleOut;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    animation-timing-function: ease;
  }

  .unselected-right {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    animation-name: scaleOut;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    animation-timing-function: ease;
  }

  .text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--BASE-BLUE-1);
    font-family: var(--FONT-RUBIC-MONO-REGULAR);
    z-index: 999;
    font-size: var(--TEXT-SIZE-LARGE);
    text-shadow:
      1.5px 1.5px 0 var(--LIGHT),
      -1.5px -1.5px 0 var(--LIGHT),
      1.5px -1.5px 0 var(--LIGHT),
      -1.5px 1.5px 0 var(--LIGHT);
  }
}

@keyframes scaleInLeft {
  0% {
    transform: translate(0%, 0) scale(1);
  }
  100% {
    transform: translate(50%, 5%) scale(1.1);
  }
}

@keyframes scaleInRight {
  0% {
    transform: translate(0%, 0) scale(1);
  }
  100% {
    transform: translate(-50%, 5%) scale(1.1);
  }
}

@keyframes scaleOut {
  0% {
    transform: translate(0%, 0) scale(1);
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translate(0, 100%) scale(0);
  }
}
