$DARK: #000000;
$LIGHT: #FFFFFF;

// DARK-GRAY
$DARK-GRAY-1: #242424;
$DARK-GRAY-2: #333333;
$DARK-GRAY-3: #666666;

// BASE-GRAY
$BASE-GRAY-1: #999999;
$BASE-GRAY-2: #BBBBBB;
$BASE-GRAY-3: #DDDDDD;

// LIGHT-GRAY
$LIGHT-GRAY-1: #EEEEEE;
$LIGHT-GRAY-2: #FBFBFB;
$LIGHT-GRAY-3: #FBFBFB;

// BASE-RED
$BASE-RED-1: #EF4136;
$BASE-RED-2: #EC421C;

// DARK-RED
$DARK-RED-1: #C23229;
$DARK-RED-2: #CE4F40;

// BASE-GREEN
$BASE-GREEN-1: #1C9D4E;

// BASE-BLUE
$BASE-BLUE-1: #162AC1;

// DARK-BLUE
$DARK-BLUE-1: #11208F;

// BASE-CREAM
$BASE-CREAM-1: #FFFCE3;
$BASE-CREAM-2: #FDF7C3;

// LIGHT-CREAM
$LIGHT-CREAM-1: #FFFEF7;

// BASE-YELLOW
$BASE-YELLOW-1: #FFED5A;