$DARK: #000000;

$DARK-OPACITY-1: rgba(0, 0, 0, 0.1);
$DARK-OPACITY-2: rgba(0, 0, 0, 0.2);
$DARK-OPACITY-3: rgba(0, 0, 0, 0.3);
$DARK-OPACITY-4: rgba(0, 0, 0, 0.4);
$DARK-OPACITY-5: rgba(0, 0, 0, 0.5);
$DARK-OPACITY-6: rgba(0, 0, 0, 0.6);
$DARK-OPACITY-7: rgba(0, 0, 0, 0.7);
$DARK-OPACITY-8: rgba(0, 0, 0, 0.8);
$DARK-OPACITY-9: rgba(0, 0, 0, 0.9);

$LIGHT: #FFFFFF;

$LIGHT-OPACITY-1: rgba(255, 255, 255, 0.1);
$LIGHT-OPACITY-2: rgba(255, 255, 255, 0.2);
$LIGHT-OPACITY-3: rgba(255, 255, 255, 0.3);
$LIGHT-OPACITY-4: rgba(255, 255, 255, 0.4);
$LIGHT-OPACITY-5: rgba(255, 255, 255, 0.5);
$LIGHT-OPACITY-6: rgba(255, 255, 255, 0.6);
$LIGHT-OPACITY-7: rgba(255, 255, 255, 0.7);
$LIGHT-OPACITY-8: rgba(255, 255, 255, 0.8);
$LIGHT-OPACITY-9: rgba(255, 255, 255, 0.9);

// DARK-GRAY
$DARK-GRAY-1: #242424;
$DARK-GRAY-2: #333333;
$DARK-GRAY-3: #434343;
$DARK-GRAY-4: #5F5F5F;
$DARK-GRAY-5: #666666;


// BASE-GRAY
$BASE-GRAY-1: #999999;
$BASE-GRAY-2: #BBBBBB;
$BASE-GRAY-3: #DDDDDD;

// LIGHT-GRAY
$LIGHT-GRAY-1: #EEEEEE;
$LIGHT-GRAY-2: #FBFBFB;

// BASE-RED
$BASE-RED-1: #EF4136;
$BASE-RED-2: #EC421C;

// DARK-RED
$DARK-RED-1: #C23229;
$DARK-RED-2: #CE4F40;

// BASE-GREEN
$BASE-GREEN-1: #1C9D4E;

// BASE-BLUE
$BASE-BLUE-1: #162AC1;

// DARK-BLUE
$DARK-BLUE-1: #11208F;

// BASE-CREAM
$BASE-CREAM-1: #FFFCE3;
$BASE-CREAM-2: #FDF7C3;

// LIGHT-CREAM
$LIGHT-CREAM-1: #FFFEF7;

// BASE-YELLOW
$BASE-YELLOW-1: #FFED5A;