$DARK: #000000;
$LIGHT: #ffffff;

// DARK-GRAY
$DARK-GRAY-1: #242424;
$DARK-GRAY-2: #333333;
$DARK-GRAY-3: #666666;

// BASE-GRAY
$BASE-GRAY-1: #999999;
$BASE-GRAY-2: #bbbbbb;
$BASE-GRAY-3: #dddddd;

// LIGHT-GRAY
$LIGHT-GRAY-1: #eeeeee;
$LIGHT-GRAY-2: #fbfbfb;
$LIGHT-GRAY-3: #fbfbfb;

// BASE-RED
$BASE-RED-1: #ef4136;
$BASE-RED-2: #ec421c;

// DARK-RED
$DARK-RED-1: #c23229;
$DARK-RED-2: #ce4f40;

// BASE-GREEN
$BASE-GREEN-1: #1c9d4e;

// BASE-BLUE
$BASE-BLUE-1: #162ac1;

// DARK-BLUE
$DARK-BLUE-1: #11208f;

// BASE-CREAM
$BASE-CREAM-1: #fffce3;
$BASE-CREAM-2: #fdf7c3;

// LIGHT-CREAM
$LIGHT-CREAM-1: #fffef7;

// BASE-YELLOW
$BASE-YELLOW-1: #ffed5a;
