@font-face {
  font-family: 'DM-Mono-Light';
  src: url(./../../public/fonts/DMMono-Light.ttf);
  font-weight: 300;
}

@font-face {
  font-family: 'DM-Mono-Regular';
  src: url(./../../public/fonts/DMMono-Regular.ttf);
  font-weight: 400;
}

@font-face {
  font-family: 'DM-Mono-Medium';
  src: url(./../../public/fonts/DMMono-Medium.ttf);
  font-weight: 600;
}

@font-face {
  font-family: 'Rubic-Mono-Regular';
  src: url(./../../public/fonts/RubikMonoOne-Regular.ttf);
  font-weight: 500;
}
