$MOBILE: 415px;
$TABLET: 768px;
$DESKTOP: 1440px;

@mixin mobile {
  @media (max-width: #{$MOBILE}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$MOBILE}) and (max-width: #{$TABLET}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$TABLET}) and (max-width: #{$DESKTOP}) {
    @content;
  }
}
