.container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4rem;

  .inner {
    width: 100%;
    min-height: 100vh;
    position: relative;
    background-color: var(--LIGHT-CREAM-1);
    border: 3px solid var(--DARK-GRAY-4);
    border-radius: 1rem;
    box-shadow: 5px 4px var(--DARK-GRAY-3);
    overflow-y: scroll;
  }
}
