.page-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 40px;
    height: calc(100vh - 155px);
    width: calc(100vw - 80px);
    background-color: var(--LIGHT-CREAM-1);
    border: 2px solid var(--DARK-GRAY-1);
    border-radius: 5px;
    box-shadow: 4px 4px 0px var(--DARK-GRAY-1);
    overflow: hidden;
}

.text-container{
    margin: 5rem;
    max-width: 100%;
    flex-direction: column;
}

.image-container{
    margin: 5rem;
    align-items: center;
    justify-content: center;
}

.image{
    height: 50vh;
    max-width: 100%;
}

.home-button-container{
    margin-top: 2rem;
}