.bar-container{
    border: 1.5px solid var(--BASE-BLUE-1);
    border-radius: 15px; 

    p{
        font-weight: 100;
    }

    &.bar-Ongoing{
        background-color: var(--BASE-BLUE-1);
        color: var(--BASE-CREAM-1);
    };
    
    &.bar-completed{
        background-color: var(--BASE-CREAM-1);
        color: var(--BASE-BLUE-1);
    };
};