.bar-container {
  border: 2px solid var(--BASE-BLUE-1);
  border-radius: 15px;
  width: 8rem;
  height: 2.25rem;
  display: flex;
  align-items: center;
  justify-content: center;

  p {
    font-family: var(--TEXT-SIZE-MEDIUM);
    padding: 0.05rem;
  }

  &.bar-ongoing {
    background-color: var(--BASE-BLUE-1);
    color: var(--BASE-CREAM-1);
  }

  &.bar-ended {
    background-color: var(--BASE-CREAM-1);
    color: var(--BASE-BLUE-1);
  }
}
