.container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  .inner {
    position: relative;
    width: calc(100% - 8rem);
    height: calc(100% - 8rem);
    background-color: var(--LIGHT-CREAM-1);
    border: 3px solid var(--DARK-GRAY-4);
    border-radius: 1rem;
    box-shadow: 5px 4px var(--DARK-GRAY-3);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
    .text-container {
      margin: 5rem;
      max-width: 100%;
      flex-direction: column;
    }

    .image-container {
      margin: 5rem;
      align-items: center;
      justify-content: center;
    }

    .image {
      height: 50vh;
      max-width: 100%;
    }

    .home-button-container {
      margin-top: 2rem;
    }
  }
}
