.card {
  display: flex;
  border: 1px solid var(--DARK-GRAY-1);
  width: 100%;
  height: 16rem;
  padding: 1rem;
  background-color: white;
  align-items: center;

  .photo {
    display: flex;
    align-items: center;
    position: relative;
  }
}

.text {
  width: 70%;
  padding: 10px;
  flex-direction: column;
  align-items: start;
  height: 100%;
  margin-bottom: 1rem;

  .step {
    margin-top: 0.2rem;
    font-size: var(--TEXT-SIZE-MEDIUM);
  }

  .title {
    margin-top: 0.4rem;
    font-size: var(--TEXT-SIZE-LARGE);
  }

  .content {
    margin-top: 0.8rem;
    line-height: 2rem;
    font-size: 1.4rem;
    font-family: var(--FONT-DM-MONO-LIGHT);
  }
}
