@import '@/styles/_mix.scss';

.card {
  display: flex;
  border: 1px solid var(--DARK-GRAY-1);
  width: 100%;
  padding: 0.8rem 1.2rem;
  background-color: white;
  align-items: center;
  justify-content: flex-start;

  .photo {
    width: 33%;
    aspect-ratio: 1;
    position: relative;
  }

  .text {
    width: 60%;
    padding-left: 1rem;
    flex-direction: column;
    align-items: start;
    height: 100%;
    margin-bottom: 1rem;
    margin-top: 2.25rem;

    .step {
      font-size: var(--TEXT-SIZE-MEDIUM);
    }

    .title {
      margin-top: 0.4rem;
      font-size: 1.4rem;
    }

    .content {
      margin-top: 0.8rem;
      line-height: 2.2rem;
      font-size: 1.35rem;
      font-family: var(--FONT-DM-MONO-LIGHT);
    }
  }
}

@include mobile {
  .card {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    position: relative;

    .photo {
      width: 100%;
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
      position: relative;
    }

    .text {
      width: 100%;
      padding-left: 0;
      margin: 1rem 0 0 0;
      height: auto;
    }
  }
}
