.text {
  font-size: 1.35rem;
  color: var(--BASE-CREAM-1);
  font-family: var(--FONT-DM-MONO-REGULAR);
}

.text-bold {
  font-size: 1.35rem;
  color: var(--BASE-CREAM-1);
  font-family: var(--FONT-DM-MONO-BOLD);
  margin-left: 8px;
}