.my-table {
  border: 1.5px solid var(--BASE-GRAY-1);
  border-collapse: separate;
  border-spacing: 0;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  width: 100%;
  min-width: 600px;

  .table-body {
    position: relative;
    z-index: 0;

    .overlay-row {
      position: relative;

      .overlay {
        position: absolute;
        height: 100%;
        width: 100%;
        z-index: 10;
        background-color: rgba(0, 0, 0, 0.5);
        border: 1px solid var(--DARK-GRAY-1);
        border-radius: 3px;
        backdrop-filter: blur(5px);

        .message {
          height: 100%;
          gap: 1.5rem;
          color: var(black);
          font-size: 1rem;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
        }
      }
    }
  }

  th {
    padding: 0.75rem 1.5rem;
    font-size: var(--TEXT-SIZE-MEDIUM);
    font-family: var(--FONT-DM-MONO-BOLD);
    background-color: var(--BASE-CREAM-1);
  }

  td,
  th {
    border-right: none;
    border-left: none;
    padding: 0.75rem 1.5rem;
  }

  .th-name {
    text-align: left;
  }

  td {
    font-size: var(--TEXT-SIZE-MEDIUM);
    text-align: center;
    border-top: 1.5px solid var(--BASE-GRAY-2);
    background-color: var(--LIGHT);
  }

  .td-name {
    text-align: left;
    font-family: var(--FONT-DM-MONO-BOLD);
  }

  .td-check-results {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.1rem;
  }
}

.table-row-names {
  color: var(--BASE-BLUE-1);
}
