.button-primary-BASE_BLUE_1-outline {
  border: 1px solid var(--BASE-BLUE-1);

  .text {
    color: var(--BASE-BLUE-1);
  }

  &:enabled {
    &:hover {
      cursor: pointer;
      box-shadow: 5px 4px var(--BASE-BLUE-1);
    }
  }
}

.button-primary-DARK_GRAY_1-outline {
  border: 1px solid var(--DARK-GRAY-1);

  .text {
    color: var(--DARK-GRAY-1);
  }

  &:enabled {
    &:hover {
      cursor: pointer;
      box-shadow: 5px 4px var(--DARK-GRAY-1);
    }
  }
}

.button-secondary-LIGHT-outline {
  background-color: var(--LIGHT);
}

.button-secondary-BASE_BLUE_1-outline {
  background-color: var(--BASE-BLUE-1);
}

.button-primary-LIGHT-outline {
  border: 1px solid var(--LIGHT);

  .text {
    color: var(--LIGHT);
  }

  &:enabled {
    &:hover {
      cursor: pointer;
      box-shadow: 5px 4px var(--LIGHT);
    }
  }
}

.button-primary-BASE_BLUE_1-fill {
  border: 1px solid var(--BASE-BLUE-1);
  background-color: var(--BASE-BLUE-1);

  &:enabled {
    &:hover {
      cursor: pointer;
    }
  }
}

.button-primary-BASE_RED_1-fill {
  background-color: var(--BASE-RED-1);
  border: 1px solid var(--BASE-RED-1);

  &:enabled {
    &:hover {
      cursor: pointer;
    }
  }
}

.button-primary-DARK_GRAY_5-fill {
  background-color: var(--DARK-GRAY-5);
  border: 1px solid var(--DARK-GRAY-1);

  &:enabled {
    &:hover {
      cursor: pointer;
    }
  }
}

.button-secondary-BASE_CREAM_1-fill {
  .text {
    color: var(--BASE-CREAM-1);
  }
}

.button-primary-DARK_GRAY_1-fill {
  border: 1px solid var(--DARK-GRAY-1);
  background-color: var(--DARK-GRAY-1);

  &:enabled {
    &:hover {
      cursor: pointer;
    }
  }
}

.button-secondary-LIGHT-fill {
  .text {
    color: var(--BASE-CREAM-1);
  }
}

.base-button-container {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6.25rem;

  &:disabled {
    background-color: var(--DARK-GRAY-5);
    border-color: var(--DARK-GRAY-5);

    .text {
      color: var(--LIGHT-OPACITY-9);
    }
  }

  .text {
    text-align: center;
  }

  .text-small {
    font-size: 0.875em;
  }

  .text-medium {
    font-size: 1em;
  }

  .text-large {
    font-size: 1.25em;
  }

  .text-light {
    font-family: var(--FONT-DM-MONO-LIGHT);
  }

  .text-regular {
    font-family: var(--FONT-DM-MONO-REGULAR);
  }

  .text-bold {
    font-family: var(--FONT-DM-MONO-BOLD);
  }
}

.shape-1-container {
  width: 20rem;
  height: 3.125rem;
}

.shape-2-container {
  width: 7.5rem;
  height: 3.125rem;
}

.shape-3-container {
  width: 7.5rem;
  height: 2.625rem;
}

.shape-4-container {
  width: 10rem;
  height: 3.435rem;
}

.shape-5-container {
  width: 7.5rem;
  height: 4rem;
}

.shape-6-container {
  width: 7.5rem;
  height: 2rem;
}

.shape-7-container {
  width: 22.25rem;
  height: 4rem;
}

.shape-8-container {
  width: 12rem;
  height: 3rem;
}
