.card-container {
  width: 100%;
  padding: 1.6rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 1rem;
  
  .text-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    gap: .3rem;
  }

  .input-wrapper {
    width: 100%;
    margin-top: .4rem;
    display: flex;
    align-items: flex-start;
    justify-content: center;
  }

  .button-wrapper {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: .8rem;
  }
}