.bar-wrapper {
  left: 50%;
  bottom: 0;
  position: absolute;
  animation-name: appearFromBottom;
  animation-duration: .2s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
  transform: translate(-50%, -50%);
}

.bar-wrapper-hide {
  left: 50%;
  bottom: 0;
  position: absolute;
  animation-name: disappearToBottom;
  animation-duration: .5s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
  transform: translate(-50%, -50%);
}

.bar-container {
  padding: 1.5rem 2rem;
  flex-direction: row;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--DARK);
  box-shadow: 5px 4px var(--DARK);
  background-color: var(--BASE-CREAM-1);
  border-radius: 1rem;
  z-index: 999999;
  gap: .6rem;
}

@keyframes appearFromBottom {
  0% {
    display: none;
    opacity: 0;
    transform: translate(-50%, 120%);
  }
  100% {
    display: block;
    opacity: 1;
    transform: translate(-50%, -50%);
  }
}

@keyframes disappearToBottom {
  0% {
    display: block;
    opacity: 1;
    transform: translate(-50%, -50%);
  }
  100% {
    display: none;
    opacity: 0;
    transform: translate(-50%, 120%);
  }
}
