.tag-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.tag-primary-DARK {
  color: var(--DARK);
  border: 1px solid var(--DARK);
  box-shadow: 5px 4px var(--DARK-GRAY-3);
}

.tag-secondary-LIGHT {
  background-color: var(--LIGHT);
}

.tag-padding-short {
  padding: 0.15rem 0.4rem;
  border-radius: 1.2rem;
}

.tag-padding-middle {
  padding: 0.3rem 0.9rem;
  border-radius: 2rem;
}

.tag-padding-long {
  padding: 0.4rem 1.2rem;
  border-radius: 2.8rem;
}
