.container {
  width: 100%;
  height: 100%;
  padding: 20rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;

  .element-container {
    padding: 1rem;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 1rem;
  }
}
