.bar-container {
  width: auto;
  display: flex;
  align-items: center;
  justify-content: flex-start;

  .text {
    color: var(--BASE-CREAM-1);
  }

  .text-size-small {
    font-size: 0.875em;
  }

  .text-size-medium {
    font-size: 1.25em;
  }

  .text-size-large {
    font-size: 1.5em;
  }

  .text-weight-light {
    font-family: var(--FONT-DM-MONO-LIGHT);
  }

  .text-weight-regular {
    font-family: var(--FONT-DM-MONO-REGULAR);
  }

  .text-weight-bold {
    font-family: var(--FONT-DM-MONO-BOLD);
  }
}

.bar-size-small {
  height: 2.75rem;
  padding: 0 1.45rem;
  border-radius: 1.4rem;
}

.bar-size-medium {
  height: 3.125rem;
  padding: 0 2.05rem;
  border-radius: 1.625rem;
}

.bar-size-large {
  height: 3.75rem;
  padding: 0 2.25rem;
  border-radius: 1.725rem;
}

.background-red {
  background-color: var(--BASE-RED-1);
}
